$primary: #2667ff;
$secondary: #0b1460;
$text-color: #5c6185;
$text-color2: #9a9db7;
$icon-color: rgb(28, 77, 191);
$color-hover: #0B1460;

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin flexbox($align: flex-start, $justify: flex-start, $flex-direction: row, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $flex-direction;
    flex-wrap: $wrap;
}

@mixin maxWidth($value) {
    @media screen and(max-width: $value) {
        @content
    }
}

@mixin minMaxWidth($value1, $value2) {
    @media screen and(min-width: $value1) and (max-width: $value2) {
        @content
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: Muli;
    font-size: 1.7rem;
}

img {
    display: inline-block;
    @include size(100%);
    object-fit: cover;
}

.content {
    background-color: white;
    width: 100%;
    margin: 17rem 0;
    max-height: 50.1rem;
    @include flexbox(center, center, row, wrap);
    height: auto;
    position: relative;

    &__info {
        width: 42%;
        text-align: left;

        &__step {
            color: $primary;
            margin-bottom: 2rem;
            letter-spacing: 5.2px;
            text-transform: uppercase;
        }

        &__title {
            font-size: 3.2rem;
            margin-bottom: 2rem;
            color: $secondary;
            font-weight: 500;
        }

        &__desc {
            color: $text-color;
            margin-bottom: 4rem;
            line-height: 3rem;
            font-size: 1.85rem;
        }

        &__list__item {
            line-height: 3rem;
            font-size: 1.85rem;
            margin-top: -2rem;
            margin-left: 1.5rem;
        }

        &__item {
            margin-bottom: 1.6rem;

            &:last-child {
                margin-bottom: 5rem;
            }
        }

        &__icon {
            color: $icon-color;
            font-size: 2rem;
        }

        a {
            color: $primary;
            display: inline-block;
            font-size: 1.8rem;
            font-weight: bold;

            span {
                border-bottom: 1px solid $primary;
                display: inline-block;
                padding-bottom: 1rem;
            }
        }
    }

    &__image {
        margin-left: 8rem;
        margin-top: -7rem;
        width: 38%;

        &-second {
            width: 8%;
            position: absolute;

            &:nth-child(odd) {
                top: -30%;
                left: -2%;
                transform: scale(0.7) translate(-9%);
            }
        }
    }

    &:nth-child(even) {
        .content__image {
            transform: scale(1.3);
            margin-left: 4rem;
            margin-right: 8.5rem;

            &-second {
                position: relative;
                transform: scaleX(-1) rotate(180deg) translate(-9%);
            }
        }

        .content__info {
            margin-top: -10rem;
        }
    }

    &__footer {
        max-width: 60.5rem;
        margin: auto;
        text-align: center;
    }

    &__tabs {
        background-color: white;
        width: 100%;
        margin-left: 7rem;
        margin-bottom: 2rem;

        &__heading {
            margin-bottom: 3rem;
            display: inline-block;
            border-bottom: 2px solid $primary;
            color: $secondary;

            &__title {
                float: left;
                padding: 2rem 2.4rem;
                border-radius: 1rem 1rem 0 0;
                margin-right: 0.8rem;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
            }

            .active {
                background-color: $primary;
                color: white;
            }
        }

        &__body {
            @include flexbox();
        }

        &__list {
            margin-right: 3.6rem;

            &__title {
                font-size: 2.2rem;
                font-weight: 600;
                line-height: 2.7rem;
                color: $secondary;
                margin-top: 1rem;
            }
        }

        &__lists {
            padding: 2.4rem 2.2rem 0 0;

            &__item {
                line-height: 3rem;
                font-size: 1.76rem;
                margin-bottom: 1.6rem;
            }
        }
    }
}

.tabs__text {
    padding-bottom: 21px;
    color: $text-color2;

    &-checked {
        color: $text-color;
    }
}

.tabs__icon {
    font-size: 2.5rem;
    color: $text-color2;
    padding-bottom: 1rem;

    &-checked {
        color: $primary;
    }
}

.bg__footer {
    background-image: url("https://www.growmodo.com/wp-content/uploads/2020/03/cta-bg.png");
    width: 100%;
    color: white;
    text-align: center;

    &__title {
        text-transform: uppercase;
        letter-spacing: 3.4px;
        font-size: 1.8rem;
        margin-top: 5.5rem;
        margin-bottom: 2rem;
        display: inline-block;
    }

    &__heading {
        font-size: 3.4rem;
        font-weight: 500;
        line-height: 44.72px;
        max-width: 80rem;
        margin: auto;
    }
}

.button__footer {
    padding: 2rem 7rem;
    display: inline-block;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 6px;
    font-size: 19px;
    color: $primary;
    font-weight: 600;
    background: linear-gradient(to left, white 50%, $color-hover 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

    &:hover {
        color: white;
        background-position: left;
    }
}

.footer__block {
    @include flexbox();

    &__content {
        width: 30%;
        margin: 6rem;
    }

    &__social {
        width: 70%;
        margin: 8rem 3rem 4rem -4rem;
        @include flexbox(stretch, space-around);
    }

    &__item {
        &__title {
            font-size: 22.4px;
            font-weight: 500;
            padding-bottom: 3.5rem;
            color: $primary;
        }

        &__image {
            margin-bottom: 3rem;
            transform: scale(0.7) translateX(-20%);
        }
    }

    a {
        display: inline-block;
        color: $text-color;
        padding-bottom: 1rem;
        line-height: 3rem;

        &:hover {
            color: $primary;
        }
    }

    &--icon {
        color: $primary;
        font-size: 1.8rem;
        display: inline-block;
        padding-right: 1rem;
    }
}

.navigate {
    @include flexbox();
    font-size: 17.6px;

    &__image {
        width: 20%;
        margin: 2rem 22rem 3rem 5rem;
        transform: scale(0.8);
    }

    &__list {
        ul {
            @include flexbox();
        }

        a {
            transition: 0.4s;
        }

        &__item--text {
            display: inline-block;
            padding: 2.2rem 0;
            color: $text-color;
            line-height: 2rem;
            margin-top: 1rem;
            margin-left: 2.4rem;
            font-weight: 500;
            transition: all 0.25s linear;

            &:hover {
                color: $primary;
            }
        }
    }

    &__button--text {
        display: inline-block;
        padding: 1.6rem 4rem;
        background-color: $primary;
        color: white;
        margin-top: 2rem;
        margin-left: 6rem;
        border-radius: 6px;
        padding: 1.6rem 4rem;
        background: linear-gradient(to left, $primary 50%, $color-hover 50%) right;
        background-size: 200%;
        transition: .5s ease-out;

        &:hover {
            background-position: left;
        }
    }
}

.active {
    color: $primary;
}

nav {
    @include size(100%, 8rem);
    z-index: 10;
    background-color: #ffffff;
}

nav>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: #cec9c9 0px 10px 10px 0px;
}

#image__special {
    width: 60%;
    margin-left: -10rem;
}

#content__info__special {
    width: 32%;
    margin-top: -30rem;
}

.header__image {
    width: 100%;
    max-height: 20.8rem;
}

.header__menu {
    width: 100%;
    background-color: #f6f9fb;
    line-height: 29.44px;
    padding: 3rem 0;
    margin-top: 8rem;
}

.header__block {
    @include size(100%, 8rem);
    margin: auto;

    ul {
        @include flexbox(center, center);
    }

    &__item {
        font-size: 2rem;
        display: inline-block;
        color: $text-color;
        text-align: center;
        transition: all 0.3s linear;

        &:hover {
            .header__block__circle {
                background-color: $primary;
                color: white;
                border-color: $primary;
            }

            .header__block__title {
                color: $primary;
            }
        }

        position: relative;

        &:not(:last-child) {
            &::before {
                content: "";
                width: 5.7rem;
                height: 2.6px;
                background-color: #1C4DBF;
                position: absolute;
                left: 72%;
                top: 30%;
                transform: translateY(-30%);
            }
        }
    }

    &__circle {
        border: 2px solid #1C4DBF;
        border-radius: 50%;
        @include flexbox(center, center, row, wrap);
        margin: 0 2.8rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        @include size(4.7rem);
        color: #1C4DBF;
        cursor: pointer;
    }

    &__title {
        cursor: pointer;
    }
}

#header__title {
    font-size: 4.5rem;
    font-weight: 500;
    width: 70rem;
}

.circle-active {
    background-color: $primary;
    color: white;
    border-color: $primary;
}

.title-active {
    color: $primary;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: block;
    color: #1C4DBF;
}

.show-menu-btn {
    i {
        line-height: 100px;
    }

    margin: 0 -3rem 2rem 3rem;
    display: none;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@include minMaxWidth(1024px, 1279px) {
    .navigate {
        &__image {
            margin: 2rem;
        }
    }
}

@include minMaxWidth(768px, 1023px) {
    .content {
        &:nth-child(odd) {
            .content__info {
                padding-left: 2rem;
            }
        }
    }

    .navigate {
        &__image {
            transform: scale(1.4);
            transform: translate(20%);

            img {
                display: inline-block;
                margin-top: 0.8rem;
            }
        }

        &__button {
            display: none;
        }
    }

    .show-menu-btn,
    .hide-menu-btn {
        width: 50%;
        display: block;
        transform: translateX(70%);
    }

    .navigate__list {
        display: none;
    }
}

@include maxWidth(767px) {
    .content {
        max-height: 80rem;
        margin-top: -8rem;

        &__footer {
            width: 100%;
        }

        &__info {
            width: 100%;
            padding-left: 1rem;

            &__desc {
                margin-bottom: 10rem;
            }
        }

        &__image {
            width: 100%;
            margin: 3rem;

            &-second {
                display: none;
            }
        }

        &:nth-child(even) {
            .content__info {
                margin-top: 1rem;
            }
        }

        &__tabs {
            margin: auto;
            width: 80%;

            &__body {
                flex-wrap: wrap;
            }

            &__heading {
                margin-bottom: 1rem;

                &__title {
                    margin-bottom: 1rem;
                    width: 100%;
                    border: 1px solid #eee;
                    border-radius: 6px;
                }
            }

        }
    }

    .bg__footer {
        width: 100%;
    }

    #content__info__special {
        width: 100%;
        margin-top: 5rem;
    }

    #image__special {
        width: 100%;
    }

    #header__title {
        width: 100%;
    }

    #step5 {
        margin-top: 10rem;
    }

    .navigate {
        @include flexbox();

        &__image {
            transform: scale(8);
            padding-left: 1.6rem;
            padding-bottom: 1rem;
        }

        &__button {
            display: none;
        }
    }

    .show-menu-btn,
    .hide-menu-btn {
        width: 50%;
        display: block;
        margin-top: -1.8rem;
    }

    .navigate__list {
        display: none;
    }

    .header__menu {
        display: none;
    }

    .header__image {
        margin-bottom: -14rem;
    }

    .bg__footer {
        &__title {
            letter-spacing: 3px;
            font-size: 1.4rem;
            margin-top: 3rem;
        }

        &__heading {
            font-size: 2.4rem;
        }
    }

    .button__footer {
        padding: 1.6rem 5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .footer__block {
        flex-wrap: wrap;
        margin-left: 2rem;

        &__content {
            width: 100%;
            margin: 3rem;
        }

        &__social {
            width: 100%;
            flex-wrap: wrap;
            margin: 0rem 0rem 0rem 2rem;
        }

        &__item {
            width: 100%;
            margin-top: 4rem;

            &__title {
                font-size: 22.4px;
                font-weight: 500;
                padding-bottom: 2rem;
            }
        }
    }
}